<form class="sign-component" action="">
    <h3 class="sign-component__title">{{titleText}}</h3>
    <div class="sign-component__inputs">
        {{{mailField}}}
        {{{loginField}}}
        {{{nameField}}}
        {{{lastnameField}}}
        {{{telField}}}
        {{{passField}}}
        {{{passRepeatField}}}
    </div>
    <div class="sign-component__actions">
        <button class="sign-component__btn">{{btnText}}</button>
        <a class="sign-component__link" href="#">{{linkText}}</a>
    </div>
</form>