<form class="sign-module" action="">
    <h3 class="sign-module__title">{{titleText}}</h3>
    <div class="sign-module__inputs">
        {{{mailField}}}
        {{{loginField}}}
        {{{nameField}}}
        {{{lastnameField}}}
        {{{telField}}}
        {{{passField}}}
        {{{passRepeatField}}}
    </div>
    <div class="sign-module__actions">
        <button class="sign-module__btn">{{btnText}}</button>
        <a class="sign-module__link" href="#">{{linkText}}</a>
    </div>
</form>