<div class='profile-edit-password-page'>
    <div class='wrapper'>
        {{{avatar}}}
        <div class='profile-edit-password-page__form'>
            <div class='profile-component__inputs'>
                <div class='profile-component__input-wrapper'>
                    {{{oldPass}}}
                    <span class='profile-component__input-value'>
                        •••••••••
                    </span>
                </div>
                <div class='profile-component__input-wrapper'>
                    {{{newPass}}}
                    <span class='profile-component__input-value'>
                        •••••••••
                    </span>
                </div>
                <div class='profile-component__input-wrapper'>
                    {{{repeatPass}}}
                    <span class='profile-component__input-value'>
                        •••••••••
                    </span>
                </div>
            </div>
            <div class='profile-edit-password-page__actions'>
                {{#each actions}}
                    {{{this}}}
                {{/each}}
            </div>
        </div>

    </div>
</div>